{
  "presets": [
    [
      "@nx/react/babel",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    "babel-plugin-styled-components",
    [
      "@babel/plugin-syntax-import-attributes",
      {
        "deprecatedAssertSyntax": true
      }
    ]
  ]
}
